<h1>About me</h1>
<p>My name is Andres O. Serrano and I am from Santa Fe, New Mexico. After several years of 
general studies and numerous "Hello World" tutorials, I decided to begin my career in working with the exiting world wide web as Quality Assurance tester and later as a Front-End Developer. Perhaps it was the order of positions that has better shaped my skillset and influenced my "OCD" to pay closer attention to detail.</p>
<p>My work ranges from web design and prototyping to mobile and web app development. Over the years I aquired a genuine interest in a variety of programming languages and frameworks which has given me the advantage of quickly adapting to new or existing projects and overall flexibility.</p>
<p>Please take a look at some of my work on this site and feel free to get in touch for whatever reason!</p>
<p></p>
<p></p>
