
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="5000">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
 
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active firstslide">
      <h1>Andres Serrano || Web and Mobile Developer</h1>
      <div class="caption-slide">
          <h2>Code, Eat, Sleep, Repeat...</h2>
      </div>
    </div>
    <div class="item secondslide">
      <h1>From simple projects to full on eCommerce sites</h1>
      <div class="carousel-caption">
          <a class="btn btn-primary" href="#">Learn More</a>
      </div>
    </div>
    <div class="item thirdslide">
      <h1><span id="city-name"></span>...coding superhero?</h1>
      <div class="caption-slide">
          <h3>Perhaps a bit of a stretch. But it's nice to dream!</h3>
      </div>
    </div>
  </div>
 
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div> <!-- Carousel -->

<div class="arrow-link">
  <a href="#/#webtopic"><i class="fa fa-arrow-circle-o-down"></i></a>
</div>

<div class="marketing">
  <div class="row">
    <div class="col-md-12">
      <div class="row  webtopic" id="webtopic">
        <div class="col-md-4 topic-titles">
          <h3>Web Design</h3>
        </div>
        <div class="col-md-8 topic-content">
          <p>
            <span>Consectetur aspernatur, necessitatibus corporis accusamus ut aliquam nulla maiores voluptates modi dolorem quibusdam doloribus libero deserunt, atque eos ratione harum repudiandae illo cum illum cupiditate asperiores reiciendis sint, debitis, inventore!</span>
            <span>Dolorum tenetur laborum quo, labore nisi voluptatum, commodi provident unde iste enim aut voluptates dolorem aspernatur odit optio consectetur nesciunt inventore? Minima quas, aut aspernatur dolorum at magni atque animi.</span>

          </p>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="row responsivetopic">
        <div class="col-md-4 topic-titles">
          <h3>Responsive</h3>
        </div>
        <div class="col-md-8 topic-content">
          <p>
            <span>Consectetur aspernatur, necessitatibus corporis accusamus ut aliquam nulla maiores voluptates modi dolorem quibusdam doloribus libero deserunt, atque eos ratione harum repudiandae illo cum illum cupiditate asperiores reiciendis sint, debitis, inventore!</span>
            <span>Dolorum tenetur laborum quo, labore nisi voluptatum, commodi provident unde iste enim aut voluptates dolorem aspernatur odit optio consectetur nesciunt inventore? Minima quas, aut aspernatur dolorum at magni atque animi.</span>

          </p>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="row analyticstopic">
        <div class="col-md-4 topic-titles">
          <h3>Analytics, SEO, and Email</h3>
        </div>
        <div class="col-md-8 topic-content">
          <p>
            <span>Consectetur aspernatur, necessitatibus corporis accusamus ut aliquam nulla maiores voluptates modi dolorem quibusdam doloribus libero deserunt, atque eos ratione harum repudiandae illo cum illum cupiditate asperiores reiciendis sint, debitis, inventore!</span>
            <span>Dolorum tenetur laborum quo, labore nisi voluptatum, commodi provident unde iste enim aut voluptates dolorem aspernatur odit optio consectetur nesciunt inventore? Minima quas, aut aspernatur dolorum at magni atque animi.</span>

          </p>
        </div>
      </div>
    </div>
  </div>
</div>
